<div class='container'>

  <h1>Editing Ranger</h1>

  <%= render 'form', ranger: @ranger %>

  <div class='text-right'>
    <%= link_to 'Show', @ranger , class:'btn btn-danger' %>
    <%= link_to 'Back', rangers_path, class:'btn btn-warning' %>
  </div>
</div>
